header {
    background-color: #ff0000;
    background-color1: #f4f4f4;
    padding: 1rem;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
  }